.card {
  display: grid;
  grid-template: 
    [row1-start] "header header header" [row1-end]
    [row2-start] "contents contents contents" 25px [row2-end]
    [row3-start] "contents contents contents" 25px [row3-end]
    [row4-start] "footer footer footer" 25px [row4-end];
}

.span-col-3 {
  grid-column: span 3;
}