<mat-card class="card" (click)="openDialog()">
  
  <h1 class="package-name span-col-2">{{packageDetail.name}}</h1>
  <h3 class="version-number">{{packageDetail.version}}</h3>
  
  <div class="last-modified span-col-3">
    {{displayDate(packageDetail.date)}}
  </div>
  <div class="author" *ngIf="packageDetail.author">
    {{packageDetail.author.name || '-'}}
  </div>
  <div class="author-email span-col-2" *ngIf="packageDetail.author">
    {{packageDetail.author.email || '-'}}
  </div> 
  
</mat-card>