<header class="nav-bar">
  <div class="nav-bar-contents">
    <img id="app-icon" src="../assets/npm-icon.svg">
    <h1 class="title">NPM Viewer</h1>
    <search-bar class="search-bar" (onSubmitSearch)="submitSearch($event)"></search-bar>
  </div>
</header>
<body class="content-body">
  <ng-container *ngIf="searchResults">
    <ng-container *ngFor="let packageDetail of searchResults.results;">
      <app-card [packageDetail]="packageDetail"></app-card>
    </ng-container>
  </ng-container>
</body>
<mat-paginator #paginator *ngIf="searchResults"
             class="paginator"
             (page)="handlePageEvent($event)"
             [length]="length"
             [pageSize]="pageSize"
             [disabled]="false"
             [showFirstLastButtons]="true"
             [pageSizeOptions]="false ? pageSizeOptions : []"
             [hidePageSize]="false"
             [pageIndex]="pageIndex"
             aria-label="Select page">
</mat-paginator>