<div id="search-bar-wrapper">
  <mat-form-field class="example-form-field" appearance="fill" hideRequiredMarker="false">
    <mat-label>Search packages</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="Search here" [(ngModel)]="searchInput" (keyup.enter)="submitSearch()">
    <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" id="search-btn" (click)="submitSearch()">Search</button>
</div>
